body{
    background-color: seagreen;
    background-size: cover;

}

kbd{
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width:1mm;
    margin-left: 0;
    display: inline-block;
    height:5cm;
    width: 1cm;
}

.container{
    width: 500px;
    margin: auto;
    padding: 20%;
}



